{% comment %}
  Generates hreflang link tags for multilingual pages.
  Only outputs on pages that define `hreflang_group` in front matter.
{% endcomment %}
{% if page.hreflang_group %}
  {% for lang in site.data.languages %}
    {% if page.page_path %}
      {% assign target_url = lang.path | append: "/" | append: page.page_path | append: "/" %}
    {% elsif lang.path == "" %}
      {% assign target_url = "/" %}
    {% else %}
      {% assign target_url = lang.path | append: "/" %}
    {% endif %}
    {% for hreflang_code in lang.hreflangs %}
  <link rel="alternate" hreflang="{{ hreflang_code }}" href="{{ target_url | absolute_url }}">
    {% endfor %}
  {% endfor %}
  {% if page.hreflang_group == "homepage" %}
  <link rel="alternate" hreflang="en-AU" href="{{ '/au/' | absolute_url }}">
  {% endif %}
{% elsif page.url == "/au/" %}
  <link rel="alternate" hreflang="en-AU" href="{{ '/au/' | absolute_url }}">
  <link rel="alternate" hreflang="en-US" href="{{ '/' | absolute_url }}">
  <link rel="alternate" hreflang="x-default" href="{{ '/' | absolute_url }}">
{% endif %}
